---
type Props = {
  numerator?: string;
  denominator?: string;
};

const { numerator, denominator } = Astro.props;
---

<div class="frac">
  <slot name="numerator"><span>{numerator}</span></slot>
  <span class="symbol">/</span>
  <slot name="denominator"><span class="bottom">{denominator}</span></slot>
</div>

<style>
  .frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
  }
  .frac > span {
    display: block;
    padding: 0.1em;
  }
  .frac span.bottom {
    border-top: thin solid black;
  }
  .frac span.symbol {
    display: none;
  }
</style>
